.App {
  background-image: url('images/background.png');
  text-align: center;
  color: aliceblue;
}

.SolarSystem article {
  display: flex;
}

.MissionCard {
  border: 1px solid white;
  border-radius: 10px;
  margin: 15px;
  width: 40%;
}

.Missions article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
